// Add a Footer Menu with ability to have 4 columns // inspire from https://bootcamp.uxdesign.cc/website-footer-best-practices-what-avoid-ed7a2481d3af
<div class="footer_menu">
    <div class="footer_column">
        <h5>Column 1</h5>
        <ul class="nav">
            <li><a href="#">item 1</a></li>
            <li><a href="#">item 1</a></li>
            <li><a href="#">item 1</a></li>
        </ul>
    </div>
    <div class="column">Column 2</div>
    <div class="column">Column 3</div>
    <div class="column">Column 4</div>
</div>