<div class="container text-center design-gallery">
    <div class="row">
      <div class="col-sm-3">
        <img src="/assets/images/ecity/main/16.jpg">
      </div>
      <div class="col-sm-3">
        <img src="/assets/images/ecity/main/14.jpg">
      </div>
      <div class="col-sm-3">
        <img src="/assets/images/ecity/main/15.jpg">
      </div>
      <div class="col-sm-3">
        <img src="/assets/images/ecity/main/3.jpg">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <img src="/assets/images/ecity/main/16.jpg">
      </div>
      <div class="col-sm-3">
        <img src="/assets/images/ecity/main/17.jpg">
      </div>
      <div class="col-sm-3">
        <img src="/assets/images/ecity/main/4.jpg">
      </div>
      <div class="col-sm-3">
        <img src="/assets/images/ecity/main/5.jpg">
      </div>
    </div>
</div>