<div class="container text-center design-gallery">
    <div class="row">
      <div class="col-sm-3">
        <img src="/assets/images/ecity/network/4.jpg">
      </div>
      <div class="col-sm-3">
        <img src="/assets/images/ecity/network/5.jpg">
      </div>
      <div class="col-sm-3">
        <img src="/assets/images/ecity/network/6.jpg">
      </div>
      <div class="col-sm-3">
        <img src="/assets/images/ecity/network/7.jpg">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <img src="/assets/images/ecity/network/8.jpg">
      </div>
      <div class="col-sm-3">
        <img src="/assets/images/ecity/network/9.jpg">
      </div>
      <div class="col-sm-3">
        <img src="/assets/images/ecity/network/10.jpg">
      </div>
    </div>
</div>