---
layout: default
---

{% include about.html %}

<div class="row m-5">
    <div class="col-lg">
        {% include home_section.html 
            id = 'section_innovations'
            stripColor1 = 'bg-burlywood'
            type = "ideas"
            select = "ecity, smart-city, vertical-city"
        %}
    </div>
    <div class="col-lg">
        {% include home_section.html 
            id = 'section_projects'
            type = 'projects'
            select = "shop_floor_meeting, sensors_mgm, course_selection_kiosk"
        %}
    </div>
</div>

<hr>

<section>
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-4 text-center">
            <a href="/projects" role="button" class="btn btn-primary w-50">
                All Projects <i class="bi bi-box-arrow-up-right small ms-1"></i>
            </a>
        </div>

        <div class="col-4 text-center">
            <a href="/about#work_experiences" role="button" class="btn btn-outline-primary w-50">
                Work Experiences <i class="bi bi-box-arrow-up-right small ms-1"></i>
            </a>
        </div>
        <div class="col"></div>
    </div>
</section>
<!-- skills -->

<!-- learning -->

<!-- ideation & blog -->

<!-- certification -->