---
layout: default
---

{% include about.html %}

{% include home_section.html 
    id = 'section_innovations'
    title = 'Favorite Innovations'
    stripColor = 'bg-burlywood'
    type = "ideas"
    select = "ecity, smarthome,"
    maxVisibleItems = 2
%}

{% include home_section.html 
    id = 'section_projects'
    title = 'Favorite Projects'
    type = 'projects'
    select = "sensors_mgm, course_selection_kiosk, shop_floor_meeting"
    maxVisibleItems = 3
%}

{% include home_section.html 
    id = 'section_work_experiences'
    title = 'Work Experiences'
    stripColor = 'bg-burlywood'
    type = 'experiences'
    select = "fidasys, resertrac, tva, nrdc, douran, selakteb, kankash, self_emp"
%}

<!-- skills -->

<!-- learning -->

<!-- ideation & blog -->

<!-- certification -->