
<h3>Energy Wastage in Buildings</h3>
<div>
    <p>
        During the colder months, substantial amounts of heat were being lost whenever indoor air was exchanged 
        with fresh outdoor air, leading to increased energy consumption to maintain comfortable temperatures. 
        Additionally, hot water used in bathrooms and washing sinks was often wasted as it drained away, 
        carrying valuable heat with it. Another similar issue was poorly insulated areas, which exacerbated 
        this problem by allowing even more heat to escape.
    </p>
</div>

<div class="w-100 mt-5"><hr></div>

<h3>Fuel Inefficiency in Public Transportation</h3>
<p>
    Insights into fuel inefficiency in public transportation revealed by some critical factors stemming 
    from the behavior of both drivers and passengers. Drivers often interrupted smooth driving by 
    reducing bus speed near each stop in anticipation of passengers alighting. Concurrently, passengers'
    unpredictable requests for unscheduled stops resulted in multiple stops clustered around a single location. 
    These observations underscored the urgent need for a solution to streamline driver behavior and passenger requests.
</p>