
<section id="section_about" class="pt-4">
    
    <div class="pt-3 d-flex">
        <div class="w-md-50 m-auto text-center lh-md p-2 fww-light">
            <p class="pb-2 fs-4">
                Mohammad is a Software Developer actively seeking new ventures to innovate, collaborate, 
                and drive impactful change.
            </p>
            <p class="pb-2 fs-4 font-monospace">
                His approach centers on creating delightful experiences for 
                customers, streamlining 
                processes, and fostering 
                growth within businesses and teams.
            </p>
            <p class="fs-4">
                He invests his time in learning, innovative thinking, and diligent work towards building a brighter future.
            </p>
            <p class="d-no-ne pt-5 fs-5 row col justify-content-center text-primary">
                <a href="#section_innovations" class="link-underline link-underline-opacity-0">
                    Scroll down, find more.<br>
                    <i class="bi bi-chevron-double-down"></i>
                </a>
            </p>
        </div>
    </div>

</section>