
<section id="section_about">
    
    <div class="pt-3 d-flex">
        <div class="w-md-50 m-auto text-center lh-sm p-2 fw-light">
            <p class="pb-2 fs-3">
                Mohammad is a Software Developer actively seeking new ventures to innovate, collaborate, 
                and drive impactful change.
            </p>
            <p class="pb-2 fs-3">
                His approach centers on creating delightful experiences for 
                customers, streamlining 
                processes, and fostering 
                growth within businesses and teams.
            </p>
            <p class="fs-3">
                He invests his time in learning, innovative thinking, and diligent work towards building a brighter future.
            </p>
            <p class="d-no-ne pt-5 text-muted fs-5 row col justify-content-center">
                Scroll down, find more.
                <a href="#section_innovations"><i class="bi bi-chevron-double-down"></i></a>
            </p>
        </div>
    </div>

</section>