{%- if include.labels.size > 0 -%}
    {%- assign btnClass = include.btnClass | default: "btn-outline-secondary m-0 py-0 px-1" -%}
    <div class="card-text textt-nowrap overflow-x-auto" data-labels="{{ include.full_labels | default: include.labels }}">
        {%- assign labelsArr = include.labels | split: ', ' -%}
        {%- for label in labelsArr -%}
            {%- assign sLabel = label | strip | strip_newlines -%}
            {%- assign firstLetter = sLabel | slice: 0 -%}
            {%- if firstLetter == '-' -%}
                {% continue %}
            {%- endif -%}

            {%- if sLabel.size > 0 -%}
                {%- assign value_start = include.skillMap | split: sLabel | last | split: "," | first -%}
                {%- assign pCount = value_start | split: ": " | last | plus: 0 -%}

                {%- assign project_href = "/projects?with=" | append: label -%}
                {%- assign ahref = include.default_href | default: project_href -%}
                {%- if include.href -%}
                    {%- assign hrefs = include.href | split: ", " -%}
                    {%- assign ahref = hrefs[forloop.index0] | strip | strip_newlines -%}
                {%- endif -%}

                <a role="button" class="btn btn-label {{btnClass}} d-inline-block me-1" data-card-label="{{sLabel}}"
                onclick="onCardLabelClick()"
                    href="{{ ahref }}">{{ sLabel }}{% if pCount > 1 %} <small>({{ pCount }})</small>{% endif %}
                </a>
            {%- endif -%}
        {%- endfor -%}
    </div>
{%- endif -%}