{%- capture display -%}
    {%- if include.index > include.maxVisibleItems -%}inVisibleItem d-none{%- endif %}
{%- endcapture %}

{%- capture bagdeStyle -%}
    {%- if include.badgeColor and include.badgeTextColor -%}
        --badge-color: {{include.badgeColor}}; --badge-text-color: {{include.badgeTextColor}};
    {%- elsif include.badgeColor -%}
        --badge-color: {{include.badgeColor}};
    {%- elsif include.badgeTextColor -%}
        --badge-text-color: {{include.badgeTextColor}};
    {%- endif -%}
{%- endcapture -%}

{%- capture hasContent -%}
    {%- if include.content.size == 0 or include.content contains 'under_construction_message' -%}
        false
    {%- else -%}
        true
    {%- endif -%}
{%- endcapture -%}

{%- capture borderClass -%}
    {%- if include.cardBorder.size > 0 -%}
        {% if include.cardBorder == "auto" %}
            {% if hasContent == 'true' %}
                border-success
            {%- else -%}
                border-dark-subtle
            {%- endif -%}
        {%- else -%}
            border-{{ include.cardBorder }}
        {%- endif -%}
    {%- else -%}
        border-0
    {%- endif -%}
{%- endcapture -%}

<div id="{{ include.id }}" class="{{ display }} card bg-transparent {% if include.equalHeight %}card-equal-height{% endif %} {{ borderClass }}" 
    {% if include.badge %}data-badge="{{ include.badge }}"{% endif %} 
    {% if bagdeStyle %}style="{{ bagdeStyle }}"{% endif %}>

    <img src="{{ include.image }}" class="card-img-top" alt="">
    <div class="py-3 card-body">
        <section>
            {% if include.title %}
                {% if hasContent == 'true' %}
                <a class="link-underline link-body-emphasis link-underline-opacity-75-hover link-offset-3-hover link-underline-opacity-0"
                    href="{{ include.url }}">
                    <h3 class="card-title">{{ include.title }}</h3>
                </a>
                {% else %}
                    <h3 class="card-title">{{ include.title }}</h3>
                {% endif %}
            {% endif %}

            {% if include.subtitle %}
                <h4 class="card-subtitle text-body-secondary">{{ include.subtitle }}</h4>
            {% endif %}

            {% if include.muted %}
                <p class="text-muted">{{ include.muted }}</p>
            {% endif %}

            <p class="card-text overflow-y-auto">
                {{ include.excerpt }}
            </p>

            {% if include.itemList %}
                <ul>
                {% for item in include.itemList %}
                    <li>{{item}}</li>
                {% endfor %}
                </ul>
            {% endif %}

            {% if hasContent == 'true' %}
                <a class="card-link text-nowrap {% if include.content contains 'under_construction_message' %}text-muted link-dark link-underline-opacity-10{% else %}link-primary {% endif %} link-offset-2 link-opacity-50-hover" 
                href="{{ include.url }}"> 
                Find more<i class="bi bi-chevron-right small ms-1"></i>
            </a>  
            {% endif %}
            
            {% include card_labels.html class="mt-4" labels=include.labels skillMap=skillMap %}

        </section>
    </div>
</div>