{% assign maxVisibleItems = include.maxVisibleItems | default: 10000 %}

{% assign allTypeSelectArray = "_experiences, _ideas, _projects" | replace: ' ', '' | split: ',' %}
{% assign allCollections = site.collections | where_exp: 'col', "allTypeSelectArray contains col.label" %}
{% assign skillMap = "" %}

{% for acollection in allCollections %} 
{% for adocX in acollection.docs %} 
    {% assign aLabels = adocX.labels | split: ", " %}
    
    {% for item in aLabels %}
        {% assign item = item | strip | strip_newlines %}
        
        {% if item.size > 0 %}
        {% capture new_map %}
            {% if skillMap contains item %}
                {% assign value_start = skillMap | split: item | last | split: "," | first %}

                {% assign oldValue = value_start | split: ": " | last %}
                {% assign oldItem = item | append: ": " | append: oldValue | append: "," %}

                {% assign newValue = oldValue | plus: 1 %}
                {% assign newItem = item | append: ": " | append: newValue | append: "," %}

                {{ skillMap | remove: oldItem | append: newItem }}
            {% else %}
                {{ skillMap | append: item | append: ": 1," }}
            {% endif %}
        {% endcapture %}
        {% endif %}
        {% assign skillMap = new_map %}

    {% endfor %}

{% endfor %}
{% endfor %}


{%- capture bodyItems -%}
            {% assign typeSelectArray = include.type | replace: ' ', '' | split: ',' %}
            {% assign collectionId = typeSelectArray | join: '' %}
            {% assign collections = site.collections | where_exp: 'col', "typeSelectArray contains col.label" %}

            {% assign allDocs = "" | split: "" %}
            {% for collection in collections %}
            {% for docX in collection.docs %}
                {% assign allDocs = allDocs | push: docX %}
            {% endfor %}
            {% endfor %}
            
            {% capture selectString -%}
                {%- if include.select == nil -%}
                    {%- assign unordered = allDocs | map: "path" -%}
                    {%- assign ordered = "" | split: "" -%}
                    {%- for docOrder in site.docsOrder -%}
                        {%- if unordered contains docOrder -%}
                            {%- assign ordered = ordered | push: docOrder -%}
                        {%- endif -%}
                    {%- endfor -%}

                    {{ ordered | join: ',' }}

                {%- else -%}
                    {{include.select}}
                {%- endif -%}
            {%- endcapture -%}

            {% assign select = selectString | replace: ' ', '' | split: ',' %}
            
            {% for basename in select %}
                {% assign index = forloop.index %}
                {%- capture docItemId -%}
                    docItemId_{{collectionId}}_{{ index }}
                {%- endcapture %}

                {% for doc in allDocs %}
                    {% assign docBasename = doc.path | split:'/' | last | split: '.' | first %}          

                    {% if docBasename == basename or doc.path == basename %}

                        {%- assign cardBorder = include.cardBorder | default: doc.cardBorder -%}
                        {%- assign labels = doc.labels -%}
                        {%- if include.labels == 'skills' -%}
                            {%- assign labels = doc.skills -%}
                        {%- endif -%}
                        
                        <div class="{%- if include.grid -%}col{%- else -%}mb-4{%- endif %} {{ include.class }}">
                            {% include card.html 
                                id = docItemId
                                url = doc.permalink
                                content = doc.content
                                index = index
                                maxVisibleItems = maxVisibleItems

                                equalHeight = include.equalHeight
                                cardBorder = cardBorder
                                
                                skillMap = skillMap
                                
                                title = doc.title
                                subtitle = doc.subtitle
                                muted = doc.muted
                                excerpt = doc.excerpt
                                itemList = doc.achievements
                                labels = labels 

                                badge = doc.badge
                                badgeColor = doc.badgeColor
                                badgeTextColor = doc.badgeTextColor
                            %}
                        </div>

                        {%- if include.hLine -%}
                            <hr class="{{include.hLine}}">
                        {%- endif -%}
                        
                    {% endif %}
                {% endfor %}
            {% endfor %}
{%- endcapture -%}

<section id="{{ include.id }}" class="{{ include.stripColor }}">
    <div class="row {% if include.grid -%}{{ include.grid }}{%- endif %} {% if include.deleyed-attention == false -%}{%- else -%}deleyed-attention content-blur{%- endif %}">

        {%- if include.grid -%}
            {{bodyItems}}
        {%- else -%}
            <div class="col">
                {{bodyItems}}
            </div>
        {%- endif -%}
    
        {% assign itemSize = select.size %}
        <div class="row text-end {% if itemSize <= maxVisibleItems %}d-none{% endif %}">
            <a  id="displayMore_{{ collectionId }}"
                class="display-more-items mb-3 link-success" 
                href="#" data-target-item="{{ include.id }}"
                displayMoreOnclick>
                Display more
            </a>
        </div>
    </div>
</section>