{% capture xyz %}
    {% if include.maxVisibleItems == nil %}
        {% assign maxVisibleItems = 3 %}
    {% else %}    
        {% assign maxVisibleItems = include.maxVisibleItems %}
    {% endif %}
{% endcapture %}

{% capture titleClass -%}
    {%- if include.titleAlign == 'top' -%}
        align-self-top
    {%- else -%}
        align-self-center
    {%- endif %}
{%- endcapture %}

<section id="{{ include.id }}" class="{{ include.stripColor }}">
    <div class="row {% if include.deleyed-attention == false %}{% else %}deleyed-attention content-blur{% endif %}">
        {% if include.title %}
        <div class="col-3 {{titleClass}} text-muted">
            <h3>{{ include.title }}</h3>
        </div>
        {% endif %}

        <div class="{% if include.title %}col-7{% else %}col{% endif %} offset-0">
            {% assign typeSelectArray = include.type | replace: ' ', '' | split: ',' %}
            {% assign collectionId = typeSelectArray | join: '' %}
            {% assign collections = site.collections | where_exp: 'col', "typeSelectArray contains col.label" %}

            {% assign allDocs = "" | split: "" %}
            {% for collection in collections %}
            {% for docX in collection.docs %}
                {% assign allDocs = allDocs | push: docX %}
            {% endfor %}
            {% endfor %}
            
            {% capture selectString -%}
                {%- if include.select == nil -%}
                    {%- assign unordered = allDocs | map: "path" -%}
                    {%- assign ordered = "" | split: "" -%}
                    {%- for docOrder in site.docsOrder -%}
                        {%- if unordered contains docOrder -%}
                            {%- assign ordered = ordered | push: docOrder -%}
                        {%- endif -%}
                    {%- endfor -%}

                    {{ ordered | join: ',' }}

                {%- else -%}
                    {{include.select}}
                {%- endif -%}
            {%- endcapture -%}

            {% assign select = selectString | replace: ' ', '' | split: ',' %}
            
            {% for basename in select %}
                {% assign index = forloop.index %}
                {%- capture docItemId -%}
                    docItemId_{{collectionId}}_{{ index }}
                {%- endcapture %}

                {% for doc in allDocs %}
                    {% assign docBasename = doc.path | split:'/' | last | split: '.' | first %}          

                    {% if docBasename == basename or doc.path == basename %}

                        {% capture cardBorder -%}
                            {%- if include.cardBorder -%}
                                {{include.cardBorder}}
                            {%- else -%}
                                {{doc.cardBorder}}
                            {%- endif -%}
                        {%- endcapture -%}
                        
                        <div class="mb-4">
                            {% include minimal_view.html 
                                id = docItemId
                                url = doc.permalink
                                title = doc.title
                                subtitle = doc.subtitle
                                muted = doc.muted
                                excerpt = doc.excerpt
                                content = doc.content
                                equalHeight = include.equalHeight
                                cardBorder = cardBorder
                                badge = doc.badge
                                badgeColor = doc.badgeColor
                                badgeTextColor = doc.badgeTextColor
                                index = index
                                maxVisibleItems = maxVisibleItems
                            %}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    
        {% assign itemSize = select.size %}
        <div class="row text-end">
            <a  id="displayMore_{{ collectionId }}"
                class="display-more-items link-success {% if itemSize <= maxVisibleItems %}d-none{% endif %}" 
                href="#" data-target-item="{{ include.id }}"
                onclick="return displayMoreItems()">
                Display more
            </a>
        </div>
    </div>
</section>