<div class="lh-md text-center opacity-75">
    <h1 class="fs-4 pb-5 fw-normal">
        {{ site.data.oham.bio.statement1 }}
    </h1>
    <p class="pb-4 fs-4 lh-sm font-monospace1">
        {{ site.data.oham.bio.statement2 }}
    </p>
    <p class="pt-4 fs-6 row col justify-content-center text-primary">
        <a href="#section_significant_works" class="link-underline link-underline-opacity-0">
            Scroll down, find more.<br>
            <i class="bi bi-chevron-double-down"></i>
        </a>
    </p>
</div>