<div class="lh-md text-center opacity-75">
    <h1 class="fs-4 pb-5 fw-normal">
        Mohammad is a Software Developer committed to collaboration, impactful change, and delightful customer experiences.
    </h1>
    <p class="pb-4 fs-4 lh-sm font-monospace1">
        He fosters business growth, streamlines processes, and is dedicated to learning and innovation, diligently working towards a brighter future.
    </p>
    <p class="pt-4 fs-6 row col justify-content-center text-primary">
        <a href="#section_significant_works" class="link-underline link-underline-opacity-0">
            Scroll down, find more.<br>
            <i class="bi bi-chevron-double-down"></i>
        </a>
    </p>
</div>