<div class="lh-md text-center opacity-75">
    <p class="fs-4 pb-4">
        Mohammad is a Software Developer actively seeking new ventures to innovate, collaborate, 
        and drive impactful change.
    </p>
    <p class="pb-4 fs-5 lh-sm font-monospace1">
        His approach centers on creating delightful experiences for 
        customers, streamlining 
        processes, and fostering 
        growth within businesses and teams.
    </p>
    <p class="fs-5">
        He invests his time in learning, innovative thinking, and diligent work towards building a brighter future.
    </p>
    <p class="pt-4 fs-6 row col justify-content-center text-primary">
        <a href="#section_significant_works" class="link-underline link-underline-opacity-0">
            Scroll down, find more.<br>
            <i class="bi bi-chevron-double-down"></i>
        </a>
    </p>
</div>