{%- capture display -%}
    {%- if include.index > include.maxVisibleItems -%}inVisibleItem d-none{%- endif %}
{%- endcapture %}

{%- capture bagdeStyle -%}
    {%- if include.badgeColor and include.badgeTextColor -%}
        --badge-color: {{include.badgeColor}}; --badge-text-color: {{include.badgeTextColor}};
    {%- elsif include.badgeColor -%}
        --badge-color: {{include.badgeColor}};
    {%- elsif include.badgeTextColor -%}
        --badge-text-color: {{include.badgeTextColor}};
    {%- endif -%}
{%- endcapture -%}

<div id="{{ include.id }}" class="{{ display }} card bg-transparent {% if include.equalHeight %}card-equal-height{% endif %} {% if include.cardBorder.size > 0 %}border-{{ include.cardBorder }}{% else %}border-0{% endif %} " 
    {% if include.badge %}data-badge="{{ include.badge }}"{% endif %} 
    {% if bagdeStyle %}style="{{ bagdeStyle }}"{% endif %}>

    <img src="{{ include.image }}" class="card-img-top" alt="">
    <div class="py-3 card-body">
        {% if include.title %}
            {% if include.content.size > 0 %}
                <a class="link-underline link-body-emphasis link-underline-opacity-75-hover link-offset-3-hover link-underline-opacity-0"
                    href="{{ include.url }}">
                    <h3 class="card-title">{{ include.title }}</h3>
                </a>
            {% else %}
                <h3 class="card-title">{{ include.title }}</h3>
            {% endif %}
        {% endif %}

        {% if include.subtitle %}
            <h4 class="card-subtitle text-body-secondary">{{ include.subtitle }}</h4>
        {% endif %}

        {% if include.muted %}
            <p class="text-muted">{{ include.muted }}</p>
        {% endif %}

        <p class="card-text">
            {{ include.excerpt }}
        </p>

        {% include card_labels.html labels=include.labels skillMap=skillMap %}

        <div class="mt-3 text-end">
            {% if include.content.size > 0 %}
                <a class="card-link position-end card-body-action {% if include.content contains 'under_construction_message' %}text-muted link-dark link-underline-opacity-10{% else %}link-primary fw-bold{% endif %} link-offset-2 link-opacity-50-hover" 
                    href="{{ include.url }}"> 
                    find more
                </a>  
            {% endif %}
        </div>
        
    </div>
</div>