<div class="modal fade" id="thumbnailBookDialog" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 id="thumbnailBookDialogTitle" class="modal-title fs-5" id="exampleModalToggleLabel2"></h1>
                <div class="ms-auto">
                    <button id="btnThumbnailBookDialogPrev" type="button" class="btn mb-1" onclick="thumbnailBookDialogPrev()" >
                        <i class="bi bi-arrow-left-circle-fill"></i>
                    </button>
                    <button id="btnThumbnailBookDialogNext" type="button" class="btn mb-1" onclick="thumbnailBookDialogNext()" >
                        <i class="bi bi-arrow-right-circle-fill"></i>
                    </button>

                    <button type="button" class="btn btn-sm mb-1" onclick="toggleFullscreen()" >
                        <i class="bi bi-fullscreen"></i>
                        <i class="bi bi-fullscreen-exit"></i>
                    </button>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            </div>
            <div class="modal-body text-center">
                    <img modalOff id="thumbnailBookDialogImg" class="w-100" src="">
            </div>
        </div>
    </div>
</div>