<nav class="navbar navbar-expand-lg sticky-top {% if page.url == '/' %}{% else %}shadow-sm{% endif %}">
    <div class="container-fluid bd-gutter">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-brand d-flex">
            <img src="{{ site.avatar_url }}" noTitle data-modal-class="w-50" alt="Mohammad Haghighipoor profile picture"
                class="rounded-circle d-inline-block me-2" width="52" height="52">
            <a href="{{ site.url }}" class="link-underline link-underline-opacity-0 link-dark">
                <span class="d-none d-lg-inline lh-sm my-auto">
                    <span class="fw-medium">{{ site.title }}</span>
                    <small id="brand-subtitle" class="{% if page.url == '/' %}d-none{% else %}brand-subtitle{% endif %}">
                        {{ site.subtitle }}
                    </small>
                </span>
            </a>
        </div>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <div class="navbar-nav ml-auto">
                <a class="nav-link" href="/">Portfolio</a>
                <a class="nav-link d-none" href="/posts">Posts</a>
                <a class="nav-link" href="/about">About</a>
              </div>
        </div>
    </div>
</nav>