<div class="p-3">
    <div class="row">
        <div class="col"></div>
        <div class="col-lg-6">
            <p class="my-5 fs-4">
                Over the years, I've learned from a diverse array of projects, some truly transformative and 
                others failing to meet user needs or provide meaningful benefits. 
                This journey of varied experiences has shaped my approach and commitment to creating projects 
                that genuinely matter and make a difference.
            </p>

            {% include home_section.html 
                id = 'section_projects'
                type = 'projects, ideas'
                deleyed-attention = false
                maxVisibleItems = 1000
                cardBorder = 'secondary'
            %}
        </div>
        <div class="col"></div>
    </div>
</div>