{%- capture linkActions -%}
    {%- if page.liveProjectUrl -%}
        Check out the <a href="{{ page.liveProjectUrl }}">live project</a>
    {%- endif -%}    
{%- endcapture -%}

{%- capture sourceCode -%}
    {%- if page.srcGitUrl -%}
        view the <a href="{{ page.srcGitUrl }}">source code on GitHub</a>
    {%- endif -%}
{%- endcapture -%}

{%- if page.liveProjectUrl and page.srcGitUrl -%}
    {%- assign linkActions = linkActions | append: " or " -%}
{%- endif -%}      

{%- assign linkActions = linkActions | append: sourceCode -%}

{%- if linkActions.size > 5 -%}
    {%- assign linkActions = "<br>" | append: linkActions | append: "." -%}
{%- endif -%}

<p class="text-center mt-5">For more information, please <a href="mailto: {{ site.email }}">contact me</a>.{{linkActions}}</p>

<hr class="my-5">
<div class="w-100 text-center">
    <a href="/projects" role="button" class="btn btn-outline-primary">
        Explore Other Projects
    </a>
</div>