<h3 data-bs-toggle="tooltip" data-bs-title="Water dispenser and water station were in their infancy.">
    Water Wastage in Schools</h3>

<div class="row pt-3">
    
    <div class="col-lg-8">
         <p>{{ data.discovery.supportings['Water Management']['Water Wastage in Schools'].body }}</p>
    </div>        

    <div class="col-lg-4 text-muted">
        <figure>
                <img class="w-100 pb-3" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQS_Ya_0pTJstXskoZV7H_wDAxpXOYjVX6GqcCX1u5sbCP2cePA">
                <figcaption><small>Sample - Drinking Water Point</small></figcaption>
        </figure>
    </div>
</div>

<h5>Previously proposed solutions:</h5>
{% assign proposed_solutions = data.discovery.supportings['Water Management']['Water Wastage in Schools']['Previously proposed solutions'] %}

{% include ecity/water/school_water_wastage/info_student_patrol.html %}

{% include ecity/water/school_water_wastage/info_pedal_taps.html %}

{% include ecity/water/school_water_wastage/info_push_taps.html %}

<h5>Finding:</h5>
<p>{{ data.discovery.supportings['Water Management']['Water Wastage in Schools'].conclusion }}</p>
 
 {% if site.user == 'mhp' %}
 <p class="mt-2 d-none"><strong>Goal:</strong>
    Having the exact expectations in hand, considering whole initiative in mind, and thinking forward 
    to the consequences, I created an comperhensive water management system with an effective prototype of smart taps mixed in innovation, simplisity,
    viablility, aesthetically pleasing, and full functionality.
    looks like a pipe with an eye (IR Sstem) in front of it towards users.
    1. open the tap: just show up in front of it, and water flows for a specific time.
    2. close the tap: just go away.
    3. need more time: just wave your hand in front of it
    4. need adjust volume: turn the eye.
    5. need to control manully: just push the eye.
    6. install in different angle: use its joint accessories.
    7. smart blue light: turn on a shad if pass in front of it, turn on when opens.

</p>
{% endif %}

