<h3 data-bs-toggle="tooltip" data-bs-title="Water dispenser and water station were in their infancy.">
    Water Wastage in Schools</h3>

<div class="row pt-3">
    
    <div class="col-lg-8">
         <p>
            In the vast majority of cases, schools used to provide drinking water through a type of collective drinking trough 
            equipped with a row of taps. Students, especially younger ones, would often neglect to close the taps 
            resulting in significant water wastage. 
            With tens of taps in each school and thousands of schools nationwide, this led to a considerable amount of water 
            being wasted every school day.
         </p>
    </div>        

    <div class="col-lg-4 text-muted">
        <figure>
                <img class="w-100 pb-3" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQS_Ya_0pTJstXskoZV7H_wDAxpXOYjVX6GqcCX1u5sbCP2cePA">
                <figcaption><small>Sample - Drinking Water Point</small></figcaption>
        </figure>
    </div>
</div>

<h5 class="mt-5">Previously proposed solutions:</h5>

{% include ecity/water/school_water_wastage/info_student_patrol.html %}

{% include ecity/water/school_water_wastage/info_pedal_taps.html %}

{% include ecity/water/school_water_wastage/info_push_taps.html %}

<h5 class="mt-5">First Inference:</h5>
<p>
        Influencing policeis and measures was beyond the limitation of my young 19-year-old self, as
        was changing the standards in appliance manufacturing. Therefore, I focused on the observed
        pain points and inreffed that we require taps that operate similarly to push taps, without the 
        need for physical contact and with easy installation.<br>
        By discussing with other school principals, I ensured that the inference closely matched
        the expectations.
 </p>
 
 <p class="mt-2 d-none"><strong>Goal:</strong>
    Having the exact expectations in hand, considering whole initiative in mind, and thinking forward 
    to the consequences, I created an comperhensive water management system with an effective prototype of smart taps mixed in innovation, simplisity,
    viablility, aesthetically pleasing, and full functionality.
    looks like a pipe with an eye (IR Sstem) in front of it towards users.
    1. open the tap: just show up in front of it, and water flows for a specific time.
    2. close the tap: just go away.
    3. need more time: just wave your hand in front of it
    4. need adjust volume: turn the eye.
    5. need to control manully: just push the eye.
    6. install in different angle: use its joint accessories.
    7. smart blue light: turn on a shad if pass in front of it, turn on when opens.

</p>

