.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between !important;
}

.column {
    flex: auto;
    flex-direction: column !important;
}

.unlist {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.ms-3 {
    margin-left: 1rem !important;
}

.pt-3 {
    padding-top: 1rem !important;
}

// Fix mmistakes feature_row text-align in type=right
.feature__item--right {
    text-align: left !important;
}

.archive__item-excerpt {
    color: #818D71;
}

.page__content {
    color: #818D71;
}

.archive__item-title {
    color: #bdb783;
}

.footer_contact_info {
    font-size: clamp(0.6875em, 1.2vw, 0.6875em);

    @media (max-width: 600px) {
        padding-top: 10px;
    }

    .footer_social {
        @extend .ms-3;
    
        @media (max-width: 600px) {
            flex-basis: 20%; // Switch to vertical layout on smaller screens
            margin-left: 0rem !important;
        }
    }

    .footer_email_address{
        color: khaki;
    }
}