.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between !important;
}

.column {
    flex: auto;
    flex-direction: column !important;
}

.unlist {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.ms-3 {
    margin-left: 1rem !important;
}

.footer_contact_info {
    font-size: clamp(0.6875em, 1.2vw, 0.6875em);

    @media (max-width: 600px) {
        padding-top: 10px;
    }

    .footer_social {
        @extend .ms-3;
    
        @media (max-width: 600px) {
            flex-basis: 20%; // Switch to vertical layout on smaller screens
            margin-left: 0rem !important;
        }
    }

    .footer_email_address{
        color: khaki;
    }
}

.footer_menu {
    @extend .row;

    width: 100%;
    border-bottom: 1px solid;
    padding-bottom: 1.5rem !important;
    margin-bottom: 1.5rem !important;

    .footer_column {
        @extend .column;

        font-size: medium;
    
        h5 {
            margin-top: 0;
            margin-bottom: .5rem;
            font-weight: 700;
            line-height: 1.2;
        }
    
        .nav {
            @extend .unlist;

            a {
                text-decoration: none;
            }
        }
    }
}