@import 'elements';

.bg-linen {
    background-color: $oh_back_color;
}

.bg-burlywood {
    background-color: $oh_alternate_color;
}

.bg-alternate-1 {
    background-color: #dddbff;
}

.bg-alternate-2 {
    background-color: #c5efc3;
}

.bg-alternate-3 {
    background-color: #ffdfdf7a;
}

.min-vh-50{
    min-height: 50vh !important;
}

//-------------------

.content-padding {
    padding: 3% 5% 3% 5%;
}

.content {
    @extend .content-padding;

    width: 100%;
    // background-color: #FFF;
    background-color: $oh_back_color;

    h3:has(+p), h5:has(+p), p + h3, p + h5{
        margin-top: 3rem !important;
    }
}

.content > p:first-of-type {
    margin-top: 2.25rem;
    // margin-bottom: 2.25rem;
}

.info {
    width: 100%;
    // background-color: #F4F6F7;
    background-color: $oh_alternate_color;

    img {
        max-width: 100%;
    }
}

.content-blur {
    // -webkit-filter: blur(5px);
    // -moz-filter: blur(5px);
}

.brand-subtitle{
    font-size: smaller;
    display: flex;
}

.show-brand-subtitle{
    @extend .brand-subtitle;
    
    animation-name: subtitleAnimation;
    animation-duration: 2s;
}

@keyframes subtitleAnimation {
    from {
        display: none;
        // background-color: red;
        opacity: 0.0;
    }
    to {
        display: flex;
        // background-color: yellow;
        opacity: 1.0;
    }
}

.visibleItem{
    display: block;
    animation-name: visibleItemAnimation;
    animation-duration: 2s;
}

@keyframes visibleItemAnimation {
    from {
        display: none;
        // background-color: red;
        opacity: 0.0;
    }
    to {
        display: block;
        // background-color: yellow;
        opacity: 1.0;
    }
}

@media only screen and (min-width: 40em) {
    .w-md-50{
        width: 50% !important;
    }

    .content-padding {
        padding: 3% 25% 3% 25%;
    }
}

.w-md-50{
    width: 80%;
}

.thumbnail-book{
    width: 16px;
}

.design-gallery{
    width: auto;
}

.design-gallery img{
    margin: .15rem !important;
}

.navbar-nav{
    .active {
        color: blue !important;
    }
}

.modal-fullscreen{

    .bi-fullscreen{
        display: none;
    }

    .bi-fullscreen-exit{
        display: block;
    }
}

.bi-fullscreen-exit{
    display: none;
}

.card-body-action{
    position: absolute;
    bottom: 10px;
    right: 10px;
}


.section-shape{
    overflow: hidden;
    left: 0;
    width: 100%;

    
}
.section-shape-fill{
    width: 100%;
    fill: $oh_back_color;
}

.rotate-180{
    transform: rotate(180deg); 
}