.bg-linen {
    background-color: linen;
}

.bg-burlywood {
    background-color: burlywood;
}

.min-vh-50{
    min-height: 50vh !important;
}

.center-main {
    margin: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    -ms-transform: translate(-50%, -35%);
    transform: translate(-50%, -35%);
  }

//-------------------

html:not([data-scroll='10']) {

    nav {
        -top: -50;
    }
}

body{
    @extend .bg-linen;
}

nav{
    @extend .bg-linen;
}

section {
    scroll-margin-top: 5rem;
}

main {
    @extend .min-vh-50;
}

.content-blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
}

.brand-subtitle{
    font-size: smaller;
    display: flex;
}

.show-brand-subtitle{
    @extend .brand-subtitle;
    
    animation-name: subtitleAnimation;
    animation-duration: 2s;
}

@keyframes subtitleAnimation {
    from {
        display: none;
        // background-color: red;
        opacity: 0.0;
    }
    to {
        display: flex;
        // background-color: yellow;
        opacity: 1.0;
    }
}

.visibleItem{
    display: block;
    animation-name: visibleItemAnimation;
    animation-duration: 2s;
}

@keyframes visibleItemAnimation {
    from {
        display: none;
        // background-color: red;
        opacity: 0.0;
    }
    to {
        display: block;
        // background-color: yellow;
        opacity: 1.0;
    }
}

@media only screen and (min-width: 40em) {
    .w-md-50{
        width: 50% !important;
    }
}

.w-md-50{
    width: 80%;
}