@import 'elements';

.bg-linen {
    background-color: $oh_back_color;
}

.bg-burlywood {
    background-color: $oh_alternate_color;
}

.min-vh-50{
    min-height: 50vh !important;
}

.center-main {
    margin: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    -ms-transform: translate(-50%, -35%);
    transform: translate(-50%, -35%);
  }

//-------------------

.content-padding {
    padding: 3% 5% 3% 5%;
}

.content {
    @extend .content-padding;

    width: 100%;
    // background-color: #FFF;
    background-color: $oh_back_color;
}

.content > p:first-of-type {
    margin-top: 2.25rem;
    // margin-bottom: 2.25rem;
}

.info {
    width: 100%;
    // background-color: #F4F6F7;
    background-color: $oh_alternate_color;

    img {
        max-width: 100%;
    }
}

.content-blur {
    // -webkit-filter: blur(5px);
    // -moz-filter: blur(5px);
}

.brand-subtitle{
    font-size: smaller;
    display: flex;
}

.show-brand-subtitle{
    @extend .brand-subtitle;
    
    animation-name: subtitleAnimation;
    animation-duration: 2s;
}

@keyframes subtitleAnimation {
    from {
        display: none;
        // background-color: red;
        opacity: 0.0;
    }
    to {
        display: flex;
        // background-color: yellow;
        opacity: 1.0;
    }
}

.visibleItem{
    display: block;
    animation-name: visibleItemAnimation;
    animation-duration: 2s;
}

@keyframes visibleItemAnimation {
    from {
        display: none;
        // background-color: red;
        opacity: 0.0;
    }
    to {
        display: block;
        // background-color: yellow;
        opacity: 1.0;
    }
}

@media only screen and (min-width: 40em) {
    .w-md-50{
        width: 50% !important;
    }

    .content-padding {
        padding: 3% 25% 3% 25%;
    }
}

.w-md-50{
    width: 80%;
}

.thumbnail-book{
    width: 16px;
}

.design-gallery{
    width: auto;
}

.design-gallery img{
    margin: .15rem !important;
}