[data-badge]{
    --badge-color: #3949ab;
    --badge-color-darken: hsl(from var(--badge-color) h s calc(l - 10));
//   border-radius: 1rem;
//   position : relative;
}

[data-badge]::before{
    position: absolute;
    content: '';
    width: 0;
	height: 0;
	border-top: 0.71rem solid var(--badge-color-darken);
	border-right: 0.71rem solid transparent;
    top:2.22rem;
    right:-0.76rem;
}

[data-badge]::after{
    position: absolute;
    content: attr(data-badge);
    top: 0.53rem;
    right: -0.76rem;
    padding: 0.1rem;
    width: 6.5rem;
    background: var(--badge-color);
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    box-shadow: 4px 4px 15px rgba(26, 35, 126, 0.2);
    
    border-radius: 0.2rem 0 0 0.2rem;
    height: 1.69rem;
    font-size: 14px;
}