<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "ProfilePage",
      "mainEntity": {
        "@id": "#main-author",
        "@type": "Person",
        "name": "{{ site.title }}",
        "alternateName": "Oham",
        "description": "Mohammad Haghighipoor is a software developer specializing in innovative solutions.",
        "image": "http://oham.pro/assets/images/ohampro.jpg"
      },
      "jobTitle": "Software Developer",
      "url": "http://oham.pro",
      "sameAs": [
        "https://www.linkedin.com/in/{{ site.linkedin_username }}",
        "https://www.youtube.com/@{{ site.youtube_username }}",
        "https://github.com/{{ site.github_username }}",
        "https://www.instagram.com/{{ site.instagram_username }}",
        "https://twitter.com/{{ site.twitter_username }}",
        "https://stackoverflow.com/users/{{ site.stack_overflow_username }}"
      ]
    }
    </script>
    