---
flat: true
labels: "Electronics, Schematic Diagramming, Troubleshooting, Urban Futurist"
keywords: electronics city, cities, Urban Futurist
permalink: "/projects/ecity/"
nextProject: "smart-city"
badge: "Awarded"
---

{% include page_data.html %}

<section id="opener" class="content h-100">
        <h2>{{ data.title }}</h2>
        <h6>{{ data.date }} | {{ data.client }}</h6>
        <p class="intro">{{ data.introduction.background }}</p>
        <p class="intro">{{ data.introduction.engagement }}</p>
        <p class="text-muted text-center">
                <i>{{ data.introduction.info }}</i>
        </p>
</section>

<div class="parallax" data-prlx-min-h="30" class="text-muted"
        data-prlx-bg="/assets/images/ecity/ecity-parallax.jpg">Sample Image</div>     

<section id="my_role" class="content">
        <h2>My Role</h2>
        <p>{{ data.my_role }}</p>
</section>

<hr/>

<section id="problem" class="content">
        <h5>The Challenge</h5>
        <h2>{{ data.problem.header }}</h2>
        <p>
                {{ data.problem.statement }}
                <ol>
                        <li><strong>Energy Efficiency:</strong> Prioritizing the reduction of energy consumption.</li>
                        <li><strong>Water Management:</strong> Adopting comprehensive water management system.</li>
                        <li><strong>Infrastructure Development:</strong> Enhancing connectivity, accessibility, and quality of life for residents.</li>
                </ol>
                <ul class="d-none">
                        <li>1. <strong>Energy Control:</strong>
                                Implementing remote monitoring and control mechanisms to manage energy consumption effectively, 
                                optimizing usage and reducing wastage.
                        </li>
                        <li>2. <strong>Reducing Water Wastage:</strong>
                                Addressing the issue of rampant water wastage through the development of efficient 
                                water management systems.
                        </li>
                        <li>3. <strong>Streamlining Transportation:</strong>
                                Tackling traffic congestion and transportation inefficiencies through the design of 
                                smart mobility solutions and infrastructure improvements.
                        </li>
                        <li>4. <strong>Promoting Tech-Integrated Lifestyles:</strong>
                                Fostering acceptance and integration of technology into modern life, encouraging individuals to 
                                embrace technological interventions for sustainable living practices.
                        </li>
                </ul>
        </p>
        <p>{{ data.problem.direction }}</p>
</section>

<hr/>

<section id="approach" class="content">
        <h5>The Approach</h5>
        <h2>{{ data.approach.header }}</h2>
        <p>{{ data.approach.body }}</p>
</section>

<hr/>

<section id="discovery" class="content">
        <h5>The Discovery</h5>
        <h2>{{ data.discovery.header }}</h2>
        <p>{{ data.discovery.body }}</p>
        
        {% if site.user == 'mhp' %}
        <div class="accordion" id="accordionExample">

                {% include bs_accordion_item.html 
                        header="Water Management" 
                        id="collapse2" 
                        parent="accordionExample"
                        body="ecity/water_management.html"%}

                {% include bs_accordion_item.html 
                        header="Energy Efficiency" 
                        id="collapse1" 
                        parent="accordionExample"
                        body="ecity/energy.html"%}
                        
                {% include bs_accordion_item.html 
                        header="Infrastructure Development" 
                        id="collapse3" 
                        parent="accordionExample"
                        body="ecity/infra.html"%}
        </div>
        {% endif %}
        
        <a href="#discovery_water" class="btn btn-outline-primary mb-2" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="discovery_water">
                Water Management
        </a>
        <div class="collapse mb-4" id="discovery_water">
                <div class="card bg-linen card-body">
                        {% include ecity/water_management.html %}
                </div>
        </div>

        <br>

        <a href="#discovery_energy" class="btn btn-outline-primary mb-2" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="discovery_energy">
                Energy Efficiency
        </a>
        <div class="collapse mb-4" id="discovery_energy">
                <div class="card bg-linen card-body">
                        {% include ecity/energy.html %}
                </div>
        </div>
</section>

<hr/>

<section id="vision" class="content">
        <h5>The Vision</h5>
        <h2>{{ data.vision.header }}</h2>
        <p>{{ data.vision.body }}</p>
</section>

<hr/>

<section id="service" class="content">
        <h5>Design Overview</h5>
        <h2></h2>
        <p>{{ data.design_overview.body }}</p>

        <h3>Key Services and Solutions</h3>
        <p>

        </p>
        <ul>
            {% assign services = data.design_overview.supportings['Key Services and Solutions'] %}
            {% for item in services %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>

        <h3>Base Module</h3>
        <p>{{ data.design_overview.supportings['Base Module'].body }}</p>
        
        <figure>
                <img class="w-100" src="/assets/images/base-module.png">
                <figcaption>Base Module Diagram</figcaption>
        </figure>

        <figure>
                <img class="w-100" src="/assets/images/network.png">
                <figcaption>Connecting Points Using landline or Radio Channel</figcaption>
        </figure>

</section>

<hr/>

<section id="approach-details" class="content">
        
        <h5>Approach Details</h5>
        <h2></h2>
        <p>{{ data.approach_details.body }}</p>

        <h3>Key Resources</h3>
        <ul>
                <li>
                        {{ data.approach_details.supportings['Key Resources'][0] }}
                        <img class="thumbnail-book" src="/assets/images/books/ttl.jpg">
                        
                </li>
                <li>
                        {{ data.approach_details.supportings['Key Resources'][1] }}
                        <img class="thumbnail-book" src="/assets/images/books/cmos.jpg">
                </li>
                <li>
                        {{ data.approach_details.supportings['Key Resources'][2] }}
                        <img class="thumbnail-book" src="/assets/images/books/electronics.jpg">
                </li>
                <li>
                        {{ data.approach_details.supportings['Key Resources'][3] }}
                        <img class="thumbnail-book" src="/assets/images/books/optoelectronics.jpg">
                </li>
                <li>
                        {{ data.approach_details.supportings['Key Resources'][4] }}
                        <img class="thumbnail-book" src="/assets/images/books/integrated-electronics.jpg">
                </li>
                <li>
                        {{ data.approach_details.supportings['Key Resources'][5] }}
                        <img class="thumbnail-book" src="/assets/images/books/306-circuits.jpg">
                </li>
                <li>
                        {{ data.approach_details.supportings['Key Resources'][6] }}
                        <img class="thumbnail-book" src="/assets/images/books/vrt-eca.jpg">
                </li>
                <li>
                        {{ data.approach_details.supportings['Key Resources'][7] }}
                        <img class="thumbnail-book" src="/assets/images/books/digitl-analog.jpg">
                </li>
        </ul>

        <h3>Hand-drawn Schematics</h3>
        <p>{{ data.approach_details.supportings['Hand-drawn Schematics'].body }}</p>
        <figure class="w-50">
                <img class="w-100" src="/assets/images/ecity/main/17.jpg">
                <figcaption>Hand-drawn Schematic Diagramming - One of Many</figcaption>
        </figure>
</section>

<hr/>

<section id="detailed-design" class="content">
        <h5>Detailed Design</h5>
        <h2>{{ data.detailed_design.header }}</h2>
        <p>{{ data.detailed_design.body }}</p>

        <h3>Main Controller Unit</h3>
        <p>{{ data.detailed_design.supportings['Main Controller Unit'].body }}</p>
</section>

<section>
        <div class="w-100 text-center mb-2 fw-medium">Schematic Diagrams - Main Controller - A Few of Many</div>
        {% assign mainImages = "ecity/infra/main-images1.html, ecity/infra/main-images2.html, ecity/infra/main-images3.html" | split: ", " %}
        {% include carousel.html items=mainImages name="main" %}
</section>

<hr class="w-50">

<section id="detailed-design-2" class="content">
        <h3>Internal Network</h3>
        <p>{{ data.detailed_design.supportings['Internal Network'].body }}</p>
        <a href="#schematics_network" class="btn btn-outline-primary mb-2" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="schematics_network">
                Display Schematic Diagrams
        </a>
</section>
<section>
        <div class="collapse mb-5" id="schematics_network">
                <div class="w-100 text-center mb-2 fw-medium">Schematic Diagrams - Internal Network - A Few of Many</div>
                {% assign networkImages = "ecity/infra/network-images1.html, ecity/infra/network-images2.html" | split: ", " %}
                {% include carousel.html items=networkImages name="network" %}
        </div>
</section>

<hr class="w-50">

<section id="detailed-design-3" class="content">
        <h3>Power Management System</h3>
        <p>{{ data.detailed_design.supportings['Power Management System'].body }}</p>
        <a href="#schematics_power" class="btn btn-outline-primary mb-2" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="schematics_power">
                Display Schematic Diagrams
        </a>
</section>
<section>
        <div class="collapse mb-5" id="schematics_power">
                <div class="w-100 text-center mb-2 fw-medium">Schematic Diagrams - Power Management System - A Few of Many</div>
                {% include ecity/energy/power-images1.html %}
        </div>
</section>

<hr class="w-50">

<section id="detailed-design-4" class="content">
        <h3>Water Management Syetem</h3>
        <p>{{ data.detailed_design.supportings['Water Management Syetem'].body }}</p>
        <a href="#schematics_water" class="btn btn-outline-primary mb-2" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="schematics_water">
                Display Schematic Diagrams
        </a>
</section>
<section>
        <div class="collapse mb-5" id="schematics_water">
                <div class="w-100 text-center mb-2 fw-medium">Schematic Diagrams - Water Management System - A Few of Many</div>
                {% assign waterImages = "ecity/water/water-images1.html, ecity/water/water-images2.html" | split: ", " %}
                {% include carousel.html items=waterImages name="water" %}
        </div>
</section>

<hr class="w-50">

<section id="detailed-design-5" class="content">
        <h3>Intercom System</h3>
        <p>{{ data.detailed_design.supportings['Intercom System'].body }}</p>
        <a href="#schematics_intercom" class="btn btn-outline-primary mb-2" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="schematics_intercom">
                Display Schematic Diagrams
        </a>
</section>
<section>
        <div class="collapse mb-5" id="schematics_intercom">
                <div class="w-100 text-center mb-2 fw-medium">Schematic Diagrams - Intercom System - A Few of Many</div>
                {% include ecity/infra/intercom-images1.html %}
        </div>
</section>

<hr class="w-50">

<section id="detailed-design-6" class="content">
        <h3>Antenna Rotator</h3>
        <p>{{ data.detailed_design.supportings['Antenna Rotator'].body }}</p>
        <a href="#schematics_rotator" class="btn btn-outline-primary mb-2" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="schematics_rotator">
                Display Mechanical Diagrams
        </a>
</section>
<section>
        <div class="collapse mb-5" id="schematics_rotator">
                <div class="w-100 text-center mb-2 fw-medium">Antenna Rotator - Mechanical Parts - A Few of Many</div>
                {% include ecity/infra/rotator-images.html %}
        </div>
</section>

<hr class="w-50">

<section id="detailed-design-7" class="content">
        <h3>Stop Request Button in Buses</h3>
        <p>{{ data.detailed_design.supportings['Stop Request Button in Buses'].body }}</p>
        <a href="#schematics_stop_button" class="btn btn-outline-primary mb-2" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="schematics_stop_button">
                Display Diagrams
        </a>
</section>
<section>
        <div class="collapse mb-5" id="schematics_stop_button">
                <div class="w-100 text-center mb-2 fw-medium">Stop Request Button - An Overview</div>
                {% include ecity/infra/stop-button-images.html %}
        </div>
</section>

<hr class="w-50">

<section id="detailed-design-8" class="content">
        <h3>Heat Exchange System</h3>
        <p>{{ data.detailed_design.supportings['Heat Exchange System'].body }}</p>
</section>

<hr/>

<section id="evolution" class="content">
        <h2>The Evolution</h2>
        <p>{{ data.evolution.body }}</p>
        <p>
                Read more about <a href="/projects/sepam/">SPAM System</a>, 
                a comprehensive Student Portal, and the <a href="/projects/ivr/">Interactive Voice Response (IVR) Controller</a>, 
                a device for remotely controlling home appliances via telephone as well as enabling internal calling without an agent.
        </p>
</section>


<hr/>

<section id="impact" class="content">
        <h5>Results and Recognition</h5>
        <h3>Design Recognition</h3>
        <p>{{ data.impact['Design Recognition'].body }}</p>

        <h3>Award, Praise, and Interest</h3>
        <p>{{ data.impact['Award, Praise, and Interest'].body }}</p>
        <p>{{ data.impact['Award, Praise, and Interest'].engagement }}</p>

        {% include ecity/contest-images.html %}
</section>

<hr/>

<section id="learning" class="content">
        <h5>Reflections</h5>
        <h2>{{ data.learning_and_reflections.header }}</h2>
        <p>{{ data.learning_and_reflections.body }}</p>

        <h3>Innovative Thinking</h3>
        <p>{{ data.learning_and_reflections.supportings['Innovative Thinking'].body }}</p>

        <h3>Collaboration</h3>
        <p>{{ data.learning_and_reflections.supportings['Collaboration'].body }}</p> 

        <h3>Feasibility and Implementation</h3>
        <p>{{ data.learning_and_reflections.supportings['Feasibility and Implementation'].body }}</p> 

        <h3>Continuous Learning</h3>
        <p>{{ data.learning_and_reflections.supportings['Continuous Learning'].body }}</p> 
</section>