---
labels: "AI, IoT, Cybersecurity, Sustainability, Software Development, Urban Planning and Design, Urban Futurist, Governance, Healthcare, Education, Economy, Social Development"
keywords: neoterra cities, city, harmonia, Urban Futurist
permalink: "/projects/neoterra-cities/"
badge: 'Soon'
badgeColor: "#39ac84"
badgeTextColor1: "#121211"
---

{% include page_data.html %}

{% include under_construction_project.html style="min-height: 50vh;" %}

<div class="progress" role="progressbar" style="height: 20px" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar progress-bar-striped progress-bar-animated bg-successs" style="width: 40%">40%</div>
</div>